* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .navbar {
    background-color: ghostwhite;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-heading {
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    position: relative;
    left: 15px;
  }
  