*{
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal; 
   
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbars {
    display: flex;
    column-gap: 25px;
}

.links a{
    text-decoration: none;
    color: black;
}

.links a:hover{
    text-decoration: underline;
    color: black;
}

.header {
    justify-content: center;
    top: 150px;
    left: 290px;
    position: relative;
}

.img1 {
    left: 400px;
    bottom: 230px;
    position: relative;
}

.btn1{
   border-radius: 10px;
   border-width: 0px;
   padding: 11px;
   background-color: black;
   color: white;
   cursor: pointer;
}

.centertext {
    padding-left: 40px;
    width: 500px;
    top: 99px;
    position: relative;
}

.img2 {
    position: relative;
    width: 40px;
    left: 555px;
    bottom: 250px;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter input {
    padding: 10px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black 3px;
}

.newsletter button {
    padding: 11px;
    margin-top: 11px;
    border-radius: 10px;
    border-width: 0px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.footer {
    margin-top: 20px;
    padding: 40px;
    background-color: rgb(76, 76, 79);
    color: white;

}

.code-header h1 {
    margin-top: 20px;
}
.para {
    margin-top: 5px;
}

.p1 {
    margin-top: 25px;
    padding: 45px;
    text-align: center;
}

.course-container {
    display: flex;
    justify-content: space-betwe;
    gap: 30px;
    position: relative;
    left: 320px;
    align-items: center;
    margin-bottom: 40px;
}

.course-container div{
    display: block;
    background-color: #F2F4F7;
    border-radius: 7px;
    padding: 15px;
    align-items: center;
}



.p2 {
    text-align: center;
}

.img3 {
    align-items: center;
    width: 200px;
    position: relative;
    left: 25px;
}

.img4 {
    align-items: center;
    width: 200px;
}

.guide-header {
    margin-top: 20px;
    position: relative;
    bottom: 5px;
}

.guide-header p {
    margin-bottom: 5px;
}

.guide-header-2 h3{
    margin-top: 7px;

}

.videos h4 {
    position: relative;
    top: 50px;
}

.videos div {
    align-items: center;
}



